<div class="container-fluid w-100 h-100">
    <div class="row row-title">
        <span>Fundación Autofinanciada</span>
    </div>
    <div class="row h-100">
        <div class="col ">
            <div class="row row-icon">
                <mat-icon>block</mat-icon>   
            </div>
            <div class="row row-descript">
                NO Gubernamental
            </div>
        </div>
        <div class="col">
            <div class="row row-icon">
                <mat-icon>location_on</mat-icon>   
            </div>
            <div class="row row-descript">
                Guayaquil - Ecuador
            </div>
        </div>
        <div class="col">
            <div class="row row-icon">
                <mat-icon>home</mat-icon>   
            </div>
            <div class="row row-descript">
                A cargo de 300 animales rescatados de las calles
            </div>
        </div>
        <div class="col">
            <div class="row row-icon">
                <mat-icon>favorite</mat-icon>   
            </div>
            <div class="row row-descript">
                Fomentamos el bienestar animal
            </div>
        </div>
    </div>
</div>