<app-menu></app-menu>

<div class="container-fluid">

  <div class="caja caja-1 rounded">
    <app-slider></app-slider>
  </div>

  <div class="caja caja-2">
    <app-cumpleanios></app-cumpleanios>
  </div>

  <div class="caja caja-3 shadow-sm rounded">
    <app-destacado></app-destacado>
  </div>

  <div class="caja caja-4">
    <app-adopta-inicio></app-adopta-inicio>
  </div>
  
  <div class="caja caja-5 rounded">
    <app-donacion-inicio></app-donacion-inicio>
  </div>
  
  <div class="caja caja-6 rounded">
    <app-busqueda-inicio></app-busqueda-inicio>
  </div>

  <div class="caja caja-7">
    <app-denuncia-inicio></app-denuncia-inicio>
  </div>

  <div class="caja caja-8">
     <app-organizacion-inicio></app-organizacion-inicio>
  </div>

  <div class="caja caja-9 rounded">
    <app-footer></app-footer>
  </div>

</div>