.container-fluid{
    width: 100%;
    height: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: .1rem;
    grid-template-areas: 
        "caja1 caja1 caja1 caja1"
        "caja2 caja2 caja2 caja2"
    ;
}

/*#region Caja 1 */
.caja-1{
    grid-area: caja1;
    margin: 5rem 1rem;
    margin-bottom: 0;
    height: 33rem;
}
/*#endregion */


/*#region Caja 2 */
.caja-2{
    grid-area: caja2;
    width: 100%;
}
/*#endregion */

