<!-- Footer -->
<footer class="text-center">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom section-uno">
        <div class="me-5 d-none d-lg-block">
            <span class="encabezado">Síguenos en nuestras redes</span>
        </div>
        <div>
            <a href="" class="me-4 text-reset"><i class="fab fa-facebook-f"></i></a>
            <a href="" class="me-4 text-reset"><i class="fab fa-twitter"></i></a>
            <a href="" class="me-4 text-reset"><i class="fab fa-google"></i></a>
            <a href="" class="me-4 text-reset"><i class="fab fa-instagram"></i></a>
            <a href="" class="me-4 text-reset"><i class="fab fa-linkedin"></i></a>
            <a href="" class="me-4 text-reset"><i class="fab fa-github"></i></a>
        </div>
    </section>
    <section class="section-dos">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fa-solid fa-paw"></i> Fundación Refugio pana
                    </h6>
                    <p class="description">
                        Somos un refugio Auto financiado que ayuda a los animales maltratados y que se encuentran en estado de abandono, nuestra función dentro de la sociedad es recatar a los animales que están en situación de calle, brindarle asistencia veterinaria y luego de su recuperación encontrarles un lugar responsable.
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Acciones</h6>
                    <p><a href="#!" class="text-reset description">Donar</a></p>
                    <p><a href="#!" class="text-reset description">Adoptar</a> </p>
                    <p><a href="#!" class="text-reset description">Denunciar</a></p>
                    <p><a href="#!" class="text-reset description">Busqueda</a></p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Personal Autorizado</h6>
                    <p><a [routerLink]="['/login']"  class="text-reset description">Animales</a></p>
                    <p><a href="#!" class="text-reset description">Donaciones</a></p>
                    <p><a href="#!" class="text-reset description">Rescate</a></p>
                    <p><a href="#!" class="text-reset description">Adopción</a></p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fas fa-home me-3"></i>Guayaquil, Ecuador</p>
                    <p><i class="fas fa-envelope me-3"></i> refugiopana@gmail.com</p>
                    <p><i class="fas fa-phone me-3"></i> 0991882949</p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-2 fw-bold footer-final" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2022 Copyright Proyecto Desarrollo de Aplicaciones Web Avanzado

    </div>
</footer>