<div class="row">
    <div class="col">
        <div class="card card-uno shadow-sm">
            <div class="caja-img">
                <img src="assets/img/Donacion/donacion-comida-inicio.jpg" class="card-img-top ">
            </div>
            <div class="card-body">
                <mat-card-title>Comida</mat-card-title>
                <p class="card-text">Los alimentos donados serán para que nuestros animales esten siempre alimentados.</p>
                <div class="boton">
                    <a href="#!" class="btn btn-outline-success w-50">
                        <mat-icon>palette</mat-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-dos shadow-sm">
            <div class="caja-img">
                <img src="assets/img/Donacion/donacion-medicina-inicio.jpg" class="card-img-top ">
            </div>
            <div class="card-body">
                <mat-card-title>Medicamentos</mat-card-title>
                <p class="card-text">Los medicamentos donados serán de gran ayuda para nuestros animalitos que padecen de alguna enfermedad.</p>
                <div class="boton">
                    <a href="#!" class="btn btn-outline-success w-50">
                        <mat-icon>medical_services</mat-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-tres shadow-sm">
            <div class="caja-img">
                <img src="assets/img/Donacion/donacion-dinero-inicio.jpg" class="card-img-top ">
            </div>
            <div class="card-body">
                <mat-card-title>Monetario</mat-card-title>
                <p class="card-text">Con el dinero recaudado podremos brindarle una mejor calidad de vida dentro de la fundación.</p>
                <div class="boton">
                    <a href="#!" class="btn btn-outline-success w-50">
                        <mat-icon>attach_money</mat-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>