<div class="container-fluid h-100">
    <div class="row w-100 text-center">
        <div class="col">
            <h1>¡Ellos no tienen voz!</h1>
            <p>Denuncia el maltraro animal no mires para otro lado.</p>
            <br>
            <span>Dirección de Bienestar Animal del Municipio de Guayaquil</span>
            <br>
            <a href="">
                <span class="badge ">bienestaranimal@guayaquil.gov.ec</span>
            </a>
        </div>
        <div class="col-4"></div>
    </div>
</div>
