<div class="container-fluid">
  <div class="card">
    <img src="../../../../assets/img/Adopta/adopta-fondo.svg" class="card-img">
    <div class="card-img-overlay card-cuerpo">
      <h1>¿Qué es Adoptar?</h1> 
      <p class="card-text">Adoptar significa darle una segunda oportunidad a un animal que ha sufrido un proceso de abandono, y en ocasiones maltrato. Acogerlo en tu casa de por vida y darle la estabilidad, los cuidados y el cariño que necesita va a ayudarlo a que recupere su confianza y su autoestima.</p>
      <button class="btn btn-outline-success"
        ngbPopover="Adoptar"		
        [openDelay]="100"
        [closeDelay]="100"
        placement="bottom"
        triggers="mouseenter:mouseleave">
        <mat-icon>home</mat-icon>
      </button>
    </div>
  </div>
</div>