<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="card ">
                <div class="card-img">
                    <img src="assets/img/Cumpleanios/cumpleanio-dog.svg" alt="">
                    <h3 class="card-title">Hola soy Locky</h3>
                </div>
                <div class="card-content">
                    Nací el 12 de Enero del 2019, estoy apunto de cumplir 3 años ¡Estoy muy Felíz!
                </div>
            </div>            
        </div>
        <div class="col caja-interna bg-gradient shadow rounded">
            <h2 class="text-uppercase">¡Hazlos felices!</h2>
            <p>La mejor medicina es el amor incondicional de tu mascota</p>
            <div class="caja-boton">
                    <button class="btn"
                    ngbPopover="Haz tu regalo"		
                    [openDelay]="100"
                    [closeDelay]="100"
                    placement="left"
                    triggers="mouseenter:mouseleave">
                    <mat-icon>cake</mat-icon>
                </button> 
            </div>
        </div>
        <div class="col-3">
            <div class="card ">
                <div class="card-img">
                    <img src="assets/img/Cumpleanios/cumpleanio-cat.svg" alt="">
                    <h3 class="card-title">Hola soy Locky</h3>
                </div>
                <div class="card-content">
                    Nací el 12 de Enero del 2019, estoy apunto de cumplir 3 años ¡Estoy muy Felíz!
                </div>
            </div>            
        </div>
    </div>
</div>